<%
# title::A Game of Thrones %
# rating::3.5%
# description::3.5/5 stars:%
# date::2016,10,02%
# pages::694%
# author::George R.R. Martin%
# image:: /img/a_game_of_thrones.jpg%
%>

<h1><%= link_to("http://amzn.to/2i3qL4D",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: <%= book.date %></h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />


<%= footer %>
