<%
# title::A Woman in Charge: The Life of Hillary Rodham Clinton %
# rating::4.5%
# description::4.5/5 stars: This is a beautifully written book about an enigmatic leader who will likely be our next president.%
# date::2016,03,24%
# pages::640%
# author::Carl Bernstein%
# image:: /img/a_woman_in_charge.jpg%
%>

<h1><%= link_to("http://amzn.to/1XRCG3D",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: March 24, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>Hillary Clinton is one of the most controversial women of our time, but she is also one of the most successful. &quot;A Woman in Charge&quot; is a beautifully written book about an enigmatic leader who will likely be our next president.</p>

<p>The only part of the Clinton presidency that I remember is the name “Monica Lewinsky.” I wasn&#39;t paying attention to politics in the &#39;90s. I was 13 when Bill left office. I knew nothing about the Clintons&#39; origin story, their successes and failures, or about Hillary as a person.</p>

<p>Most major news outlets paint Hillary Clinton as a Machiavellian politician who chases power more than anything else. Most people either love Hillary or hate her. I enjoyed this book because Carl Bernstein outwardly does neither. Instead, he paints a nuanced picture of a complex woman.</p>

<p>Bernstein portrays Hillary as having spent her life defending her family and beliefs from a never-ending slew of political opponents. She employs secrecy and embraces the idea that &quot;the best defense is a good offense.&quot; This seemed especially true regarding her efforts to prevent Bill&#39;s affairs from ruining their political careers.</p>

<p>My only gripe with this book is the lack of time spent covering her Senate career. I assume that this is because Bernstein published the book while Hillary Clinton was still a sitting senator. (The book was published in 2007, before her first presidential campaign.) But I think the information from her Senate term would have been useful. Bernstein depicts Hillary&#39;s Senate win as the triumph of someone who was beaten and got back up, determined to learn from her mistakes. But then Bernstein skips any discussion of her accomplishments in the Senate.</p>

<p>I recommend this book to anyone, Republican or Democrat, who has a strong opinion on Hillary Clinton. I&#39;m still not 100 percent sure who I am voting for in the Democratic primaries, but this book has tipped the scales in Hillary&#39;s favor. </p>



<%= footer %>
