<%
# title::Commitment %
# rating::2.5%
# description::2.5/5 stars: If you can get past the fact that the three male authors have seemingly never interacted with real women, the content is worth it.%
# date::2016,05,09%
# pages::224%
# author::Olav Maassen, Chris Matts, Chris Geary%
# image:: /img/commitment.jpg%
%>

<h1><%= link_to("http://amzn.to/1UGKYIj",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: May 09, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>&quot;Commitment,&quot; A business book presented as a graphic novel, discusses a risk management technique called “Real Options.” The book follows the premise that options, not unlike stock options, in a software project have value, that you shouldn’t commit to one of those options early unless you know why and that these options have an expiry.</p>

<p>My big takeaway from the book is that everything is optional, it just depends on the price you are willing to pay. By deferring commitments, you inject uncertainty into the project which, the book claims, increases collaboration. I’ve never had an issue with (bounded) uncertainty and making decisions because a decision needs to get made, has never been my style.</p>

<p>I do have a major gripe about the book. The main character is a woman. She starts out as a Katherine Heigl type character. The authors let you know this by the way she doesn’t want to talk to men at a bar, unlike her super cool sister who clearly does. We get a reminder of how uptight she is when she runs into a co-worker who “doesn’t recognize her with her hair down.” She then apologizes and puts it up. I half expected him to say, “No, it looks good.” and then kiss her.</p>

<p>Then, our protagonist interacts with some super hip dudes. One who says that he, “Always welcomes the opportunity to rescue a damsel in distress.” They explain “real options” to her, and she gets progressively more chill. Towards the conclusion you can tell how chill she is because she goes out dancing and starts wearing her hair down. Then an executive bro is tasked with “observing” her, which he does but he seems to be checking her out more than checking out her project. After several creepy come-ons, they go on a date and, well I don’t want to ruin the ending for you. Barf.</p>

<p>The book&#39;s sexism obscure&#39;s reasonably good business advice. If you can get past the fact that the three male authors have seemingly never interacted with real women, the content is worth it.</p>

<%= footer %>
