<%
# title::Harry Potter and the Cursed Child %
# rating::4%
# description::4/5 stars:%
# date::2017,01,02%
# pages::320%
# author::J K Rowling%
# image:: /img/harry_potter_and_the_cursed_child.jpg%
%>

<h1><%= link_to("http://www.powells.com/book/harry-potter-and-the-cursed-child-parts-one-two-special-rehearsal-edition-script-9781338099133/2-9",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: <%= book.date %></h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />


<%= footer %>
