<%
# title::I Will Teach You to Be Rich %
# rating::3.5%
# description::3.5/5 stars: I wish someone had given me this book a few years ago, but I&#39;m still glad that I read it now.%
# date::2016,02,28%
# pages::266%
# author::Ramit Sethi%
# image:: i_will_teach_you_to_be_rich.jpg
%>

<h1><%= link_to("http://amzn.to/1ROsTt7",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: February 28, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>If balancing a checkbook is Personal Finance 101, &quot;I Will Teach You To Be Rich&quot; is the 102. He covers the basics of negotiating, setting up credit card accounts, 401ks, Roth IRAs and automating your finances. </p>

<p>Sethi makes each of these ideas simple and provides clear action items for readers to implement at the end of the chapter. The action items helped me to pull the trigger on contributing to my Roth IRA this year and negotiate an increased spending limit of one of my credit cards.</p>

<p>I enjoyed Sethi&#39;s writing style. He manages to make dull topics both conversational and funny. His tone can feel like that of an infomercial host. Ramit doesn&#39;t attempt to sell you anything in this book, but he does offer self-help-style products on his website.</p>

<p>I recommend this book to anyone graduating college (expect a copy, El!) and to anyone who feels overwhelmed by their finances.</p>

<p>I wish someone had given me this book a few years ago, but I&#39;m still glad that I read it now.</p>


<%= footer %>
