<%
# title::My Spiritual Journey %
# rating::4%
# description::4/5 stars: “My Spiritual Journey” has inspired me to be more compassionate to the people around me.%
# date::2016,02,16%
# pages::304%
# author::Dalai Lama%
# image::/img/my_spiritual_journey.jpg%
%>

<h1><%= link_to("http://amzn.to/1LuwEiJ",@book.title) %></h1>

<h4>by <%= @book.author %></h4>

<h3>Rating: <%= @book.rating %>/5 stars</h3>

<h3>Date completed: February 16, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= @book.image %>" alt="" />

<p>This was a moving story of the Dalai Lama and the people he represents, told from his perspective. </p>

<p>“My Spiritual Journey” has inspired me to be more compassionate to the people around me. I left the book agreeing with the Dalai Lama when he says, &quot;Compassion, what I sometimes also call human affection, is the determining factor of our life.&quot;</p>

<p>But compassion can&#39;t be a passive part of our lives. The Dalai Lama says that &quot;Real compassion is not just an emotional response; it is a firm, thought-out commitment. Therefore, an authentic attitude of compassion does not change, even faced with another person’s negative behavior.&quot;</p>

<p>His approach for this is simple: &quot;I try to treat every person I meet like an old friend, and that gives me a real sensation of happiness.&quot; </p>

<p>For the leader of a culture that was cut off from the outside world until China invaded their territory in 1950, the Dalai Lama has a global view of his people&#39;s plight. </p>

<p>He says, &quot;When we look at the Earth from space, we don’t see any borders, just a little blue planet. One planet.... The interdependence taught in Buddhism does not now seem like an ideological abstraction, but like a proven fact, illustrated by this image of the Earth.&quot;</p>

<p>I also loved the way the Dalai Lama worked the Buddhist theories of interconnectedness into foreign and environmental policy. He says, &quot;...our only home is this little planet. If we want to protect it, each one of us has to experience universal altruism.&quot;</p>

<p>He also calls each of us to start solving the issues closest to us. &quot;In the present circumstances, no one should assume that someone else will solve his problems.&quot;</p>

<p>Another part of this book that struck me was his approach to religion. I have spent the first 18 years of my life as a devout Catholic, the next 5 years as a questioning Catholic, and the last 5 years as an atheist. I spent all of that time angry about religion. When I was Catholic, I argued about its merits. When I became an atheist I was angry because I felt I had been lied to about religion. </p>

<p>The Dalai Lama&#39;s views on religion seem to be much more utilitarian. He says, &quot;I have always felt that we should have different religious traditions because human beings possess so many different mental dispositions: one religion simply cannot satisfy the needs of such a variety of people.&quot; I find this to be a freeing way to view religion and one I plan on thinking about.</p>

<p>The Dalai Lama makes a compelling request of each of us to have compassion for all of humanity. The only way that we can meet the challenges facing humanity, particularly climate change, is together. I recommend this book to everyone. It will help you find a better perspective on your life as well as educate you on the plight of the Tibetan people. </p>


<%= footer %>
