<%
# title::Never Eat Alone: And Other Secrets to Success, One Relationship at a Time. %
# rating::5%
# description::5/5 stars: Ferrazzi nailed this book; you should buy it, read it and put his advice into practice.%
# date::2016,06,09%
# pages::309%
# author::Keith Ferrazzi%
# image:: /img/never_eat_alone.jpg%
%>

<h1><%= link_to("http://amzn.to/1te8pCL",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: June 09, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>Since I am writing this review almost two months after I finished the book, I can’t say it is my favorite book of the year. That distinction now belongs to “The Rise of Theodore Roosevelt” which I will be reviewing soon. But, I can say that Ferrazzi’s book is the most actionable I have read all year.</p>

<p>For this review, I am going to list out my favorite advice from the book. </p>

<ol>
	<li>The best way to build a network is to make other people successful</li>
	<li>Be as willing to ask for generosity as you are to give it.</li>
	<li>Look for win/win scenarios and don’t keep score. Meaning that give help freely but don’t keep a tally in your head of what people owe you.</li>
	<li>The Networking Action Plan:
		<ol style="list-style-type: lower-alpha;">
			<li>List what you would like to accomplish three years from today</li>
			<li>Work backward in one-year and three-month increments to develop mid- and short-term goals.</li>
			<li>Under each time frame create an “A” and “B” goal that will meaningfully contribute to where you want to be three years from now.</li>
		</ol>
	</li>
	<li>Next, in similar time increments, name one or two people for each “A” and “B” goal who you think can get you one step closer to making the goal a reality.</li>
	<li>Use the rest of the book to reach out to these people.</li>
	<li>Start finding people who could be customers long before you have a product. Find your future clients and become friends with them.</li>
	<li>Don’t set limits on what you can and can’t do. People with a low tolerance for risk have a low propensity for success.</li>
	<li>Don’t schmooze. Have something to offer when you speak and offer it with sincerity. It is better to spend more time with fewer people than to engage in the wandering-eye routine at networking events.</li>
	<li>You are only as good as what you give away.</li>
	<li>Before you meet new people, research them and find out what is important to them.</li>
	<li>When you’ve persistently been trying to get ahold of someone, don’t start your first conversation by reminding them of “how hard they are to get in touch with,” and don’t apologize for you persistence.</li>
	<li> Don’t be invisible (My problem for the last three years).</li>
	<li>Don’t be afraid to include friends from different aspects of your life into the same get-together.</li>
	<li>Don’t draw a rigid line between your private and public life. Expression of emotions and compassion helps to build relationships which help your career.</li>
	<li> Be creative in how you spend time with people. For example Coffee, a workout or hobby, a hike, a special occasion, a dinner party, etc.</li>
	<li>Speak at conferences</li>
	<li>Be an information hub at a conference. Know the best restaurants, identify the people you would like to know, know where all the parties are, memorize the conference schedule and have some trade gossip ready.</li>
	<li>Know who you want to talk to at a conference, engage them and then make a note of what you talked about and how you will reach out to them later.</li>
	<li>Be the person that starts small talk.</li>
	<li>Adjust your tone to your audience. Try to match the extroversion/introversion level of the individual to whom you are speaking. Staying on the same level as your conversation partner will help them feel comfortable.</li>
	<li>Listen actively. Don’t interrupt the person to whom you are speaking. Nod you head while you are listening. Ask questions that demonstrate that you are listening. Always remember the other person’s name.</li>
	<li>Recognize other’s importance. The only way to get people to do anything is to make them feel important.</li>
	<li>The best way to engender life-bonding loyalty is to help someone through a health issue, positively impact someone’s personal wealth or take a sincere interest in their children. </li>
	<li>Broaden your reach beyond your particular industry and don’t be afraid to make connections across those boundaries.</li>
	<li>You can be more successful in two months by becoming interested in other people’s success than you can in two years trying to get other people interested in your success.</li>
	<li>Stay in touch with your connections.</li>
	<li>Host dinner parties. There is a whole section on this that would be too much to get into here. But, if you are living near me, expect some dinner invites this year!</li>
	<li>When you go up to talk to someone you admire, have something to say beyond, “I enjoyed your talk.”</li>
	<li>Figure out what your exceptional expertise will be for your network and become that expert.</li>
</ol>

<p>This list barely scratches the surface of what this book has to offer. And each one of these items has a collection of strategies around it on how to act on the advice. Ferrazzi nailed this book; you should buy it, read it and put his advice into practice.</p>

<%= footer %>
