<%
# title::Redemption Ark%
# rating::5 %
# description::5/5 stars: This is the first book of the year that I have rated as a 5. I don&#39;t do so lightly.%
# date::2016,02,8%
# pages::708%
# author::Alastair Reynolds%
# image::/img/Redemption_Ark_cover.jpg%
%>
<div class="book">

<div class="book-stats">

<h1><%= link_to("http://amzn.to/1U9l8R7",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: February 8, 2016</h3>
</div>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />
</div>

<p>This is the first book of the year that I have rated as a 5. I don&#39;t do so lightly. This is the second volume in the Revelation Space series. The series focuses on humans a few centuries after they begin &nbsp;leaving Earth’s solar system. They have broken into factions, generally based around how their group has adapted to life beyond Earth.</p>

<p>First there are the Demarchists, a group that functions under democratic anarchy. Each citizen has a neural implant that constantly pings them to vote on issues facing their society. Then you have the Ultras, a group of spacefarers who modify their bodies extensively. The final major group are the Conjoiners, whose society operates with mental augmentation that allows them to exist as a &quot;group mind.&quot;</p>

<p>In the first novel, the readers learns the answer to the question, &quot;where is everyone else?&quot;</p>

<p>This second volume focuses on the first few humans who begin to understand that there is a major threat to the entire human race.</p>

<p>The plot kept me riveted throughout the book&#39;s 708 pages. But what I loved most were the characters — &nbsp;murderers, mass murderers, and petty criminals, all whose motives seem reasonable when read from their perspective and abominable when viewed through those they harmed. </p>

<p>The Science felt real. &nbsp;Everything was internally consistent, and I didn’t have to deal with anything outlandish, such as a warp drive. Humanity has just started to experiment with inertial dampeners, although not of the Star Trek variety. Space travel is restricted by actual physics. Ships accelerate to near-light-speed at 1g and the passengers feel the acceleration the entire time. The effects of time dilation are real and accounted for.</p>

<p>Basically, this series includes everything I love about the space opera genre without sacrificing high-quality science fiction.</p>

<p>If this style of fiction interests you, I highly recommend starting with Revelation Space (which I would rate at a ⅘) before reading this novel. You will want the backstory of how humanity arrived at its current place in the galaxy.</p>

<%= footer %>
