<%
# title::Rules for Radicals %
# rating::4.5%
# description::4.5/5 stars:%
# date::2016,12,01%
# pages::224%
# author::Saul D. Alinsky%
# image:: /img/rules_for_radicals.jpg%
%>

<h1><%= link_to("http://amzn.to/2hLiRiE",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: <%= book.date %></h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />


<%= footer %>
