<%
# title::Smarter Faster Better: The Secrets of Being Productive in Life and Business %
# rating::4%
# description::4/5 stars: Smarter Faster Better by Charles Duhigg was a good book. It just wasn’t the book I was expecting.%
# date::2016,06,07%
# pages::400%
# author::Charles Duhigg%
# image:: /img/smarter_faster_better.jpg%
%>

<h1><%= link_to("http://amzn.to/29h1oXT",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: June 07, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>
  Smarter Faster Better by Charles Duhigg was a good book. It just wasn’t the book I was expecting. I picked it up become more effective at using my time. Instead, the book focused on how to empower and motivate those around me to be more productive. Duhigg claims that being in an effective team makes you more productive. I buy that.
</p>

<p>
  The book has eight chapters, Motivation, Teams, Goal Setting, Managing Others, Decision Making, Innovation, and Absorbing Data. Duhigg states his guiding principle for these parts in the introduction, “Productivity isn’t about working more or sweating harder. It’s not simply a product of spending longer hours at your desk or making bigger sacrifices. Rather, productivity is about making certain choices in certain ways. The way we choose to see ourselves and frame daily decisions; the stories we tell ourselves, and the easy goals we ignore; the sense of community we build among teammates; the creative cultures we establish as leaders: These are the things that separate the merely busy from the genuinely productive.”
</p>

<p>
  In the Motivation chapter, Duhigg says that to motivate ourselves we must be in a situation where we feel in control. This chapter ties in nicely with the Teams and Managing Others chapters where Duhigg describes how to create psychological safety on a team and provide the team with space to feel like they are in control.
</p>

<p>
  My favorite chapter was about Focus. Duhigg describes a phenomenon called cognitive tunneling. It happens when your brain abruptly goes from a relaxed state to a panicked state. When that happens, your brain is susceptible to focus on only the most obvious stimuli. What this can mean is that you are missing the actual emergency and are instead focused on red-herrings. People who are exceptional in crisis situations tend to create models of what they expect to see and then compare what they are seeing to that model. Doing this helps spot where the problem is.
</p>

<p>
  I recommend this book to anyone interested in the psychology of productivity and team dynamics or somebody in a leadership position of any kind. Duhigg presents actionable information that could help build team dynamics that make your teammates happier and more productive.
</p>

<%= footer %>
