<%
# title::Dark Tower VI (Song of Susannah) %
# rating::3%
# description::3/5 stars: This novel is not as fun as “Wolves of the Calla” but it adds a lot to the overall plot.%
# date::2016,06,23%
# pages::432%
# author::Stephen King%
# image:: /img/song_of_susannah.jpg%
%>

<h1><%= link_to("http://amzn.to/2avVdT6",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: June 23, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>
Fans of the Dark Tower series widely consider “Song of Susannah” to be the worst novel in the series. The reason many fans dislike the book is that it is a lot of setup for the finale of the series. The common complaint is, “nothing happens.” I disagree with this opinion. This novel is not as fun as “Wolves of the Calla” but it adds a lot to the overall plot. We finally see the full picture of how Stephen King, the rose, the Dark Tower and our ka-tet are connected.
</p>

<p>
The novel starts out right where “Wolves of the Calla” left off. Mia has hijacked Susannah’s body and taken her to New York City in 1999 where she is to head to the Dixie Pig to give birth to her chap. The magic door in the doorway cave sends Jake and Father Callahan in pursuit of Susannah and  Roland and Eddie to Maine in 1977 in the Keystone world where Stephen King resides. The primary goals of theses trips are to rescue Susannah and to protect the rose in the vacant lot currently owned by Calvin Tower, respectively. They realize that the Dark Tower depends on the rose. The Dark Tower (and all existence) could fall if the rose is destroyed. Enrico Balazar, who readers will recognize from “The Drawing of the Three,” also wants the vacant lot. He and his men are agents of the Crimson King in the Keystone world and intercept Roland and Eddie in Maine.
</p>

<p>
The most interesting piece of the book is when our heroes interact with Stephen King. Roland hypnotizes King and discovers that while he isn’t a god, he is the medium for the story of the Dark Tower to transmit itself. If he were to die or not finish the story, the Dark Tower would likely fall. King’s role in the universe also explains why characters from his other novels turn up in the Dark Tower books.
</p>

<p>
The book is lacking in gun battles and does not have a resolution. Maybe the reason I didn’t mind so much is that I read the next book immediately after this one, and they blended. Overall I enjoyed this book, but I would rank it in the bottom half of the Dark Tower series.
</p>


<%= footer %>
