<%
# title::Stumbling on Happiness %
# rating::2.5%
# description::2.5/5 stars: My skepticism towards the science involved and my distaste for the author&#39;s style left me wholly unsatisfied%
# date::2016,02,25%
# pages::263%
# author::Daniel Gilbert%
# image:: /img/stumbling_on_happiness.jpg%
%>

<h1><%= link_to("http://amzn.to/1QHvnMQ",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: February 25, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>It was a mistake to read this book right after &quot;<%= link_to("/books/surely_youre_joking_mr_feynman","Surely You Must be Joking, Mr. Feynman.")%>&quot; The last chapter of that book is a rant against what Feynman calls, &quot;Cargo Cult Sciences.&quot; He directs his aim at sciences like psychology, &quot;I call these things cargo cult science, because they follow all the apparent precepts and forms of scientific investigation, but they’re missing something essential....&quot; I&#39;ve also been reading about the <%= link_to("http://www.theatlantic.com/science/archive/2015/08/psychology-studies-reliability-reproducability-nosek/402466/","reproducibility project") %>. They tried to replicate 100 psychology studies. 97% of the original studies showed statistically significant results, only 36% of replicated studies did.</p>

<p>Daniel Gilbert cites pages of psychology studies in &quot;Stumbling on Happiness&quot; to tell the reader about how the mind works. My biggest takeaway from the book is that humans are delusional. We don&#39;t know what will make us happy, and we choose poorly. Does that same delusional aspect of humanity affect the science Gilbert cites to make his points?</p>

<p>Apart from the information of the book, which is fascinating if taken as fact, I did not enjoy Gilbert&#39;s writing style. The book seemed to be chapter after chapter of Gilbert taunting the reader. Entire sections seem to have been written just to prove to you that the author was smart.</p>

<p>I did not enjoy this book. My skepticism towards the science involved and my distaste for the author&#39;s style left me wholly unsatisfied.</p>



<%= footer %>
