<%
# title::Surely You're Joking, Mr. Feynman! %
# rating::3.5%
# description::3.5/5 stars:%
# date::2016,02,20%
# pages::352%
# author::Richard P. Feynman%
# image:: /img/surely_youre_joking.png
%>

<h1><%= link_to("http://amzn.to/1TswY87",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: February 20, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />


<%= footer %>
