<%
# title::Surely You're Joking, Mr. Feynman! %
# rating::3.5%
# description::3.5/5 stars: Richard Feynman’s insatiable curiosity and jovial attitude makes his autobiography an entertaining read.%
# date::2016,02,20%
# pages::352%
# author::Richard P. Feynman%
# image:: /img/surely_youre_joking.png%
%>

<h1><%= link_to("http://amzn.to/1TswY87",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: February 20, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>“I have to understand the world, you see.”</p>

<p>-Richard Feynman</p>

<p>Richard Feynman’s insatiable curiosity and jovial attitude makes his autobiography an entertaining read.</p>

<p>In this book, you follow Richard through his early work on the Manhattan project, then his career at Cornell and finally his long tenure at Caltech where he eventually won the Nobel Prize.</p>

<p>No matter where Feynman is he finds himself making mischief or solving a puzzle and he sees puzzles everywhere. </p>

<p>While working on the Manhattan project, he learns how to pick locks and promptly breaks into all of the top-secret cabinets. While in Brazil, he learns to play the frigideira, an instrument that looks like a frying pan. Then, he switched departments for a few months and ended up giving a seminar in the biology department at Harvard.</p>

<p>However, I was put off by Feynman’s attitude towards women. You spend a chapter with him while he tries his hand at being a pick-up artist using a technique that is now called “negging.” I understand it was a different time, but I don’t like reading passages where he refers to women as “bitches.”</p>

<p>Overall, I recommend the book for two reasons. One, Richard Feynman’s relentless curiosity is contagious. Two, the last chapter of the book is relevant to some of the challenges the scientific community presently faces.</p>

<%= footer %>
