<%
# title::The Wind Through the Keyhole %
# rating::2.5%
# description::2.5/5 stars:I don’t like flashbacks. The Wind Through the Keyhole is almost entirely a flashback.%
# date::2016,07,07%
# pages::336%
# author::Stephen King%
# image:: /img/the_wind_through_the_keyhole.jpg%
%>

<h1><%= link_to("http://www.powells.com/book/wind-through-the-keyhole-9781451658910",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: July 07, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p> If you follow my reviews, you’ll know that I don’t like flashbacks. The Wind Through the Keyhole is almost entirely a flashback. At one point, it ventures into a story inside a flashback. Stephen King executes the flashback as well as one can, I didn’t like the book.</p>

<p> The book takes place between Wizard and Glass and Wolves of the Calla. Our ka-tet gets stuck in a nasty storm, and while they take shelter, Roland tells them about the time he told a story about a similar story to a young boy during one of his missions as a young Gunslinger.</p>

<p>The two storylines, one where Roland and his friend Jamie (a new character) head to a town to capture a skin-man (shape-shifter), the second is a story Roland tells to a small boy orphaned by an attack by the skin-man. </p>

<p>If you’ve read the Dark Tower series and you want a little more of Roland’s backstory, take the time to read this book. Otherwise, leave this one alone.</p>

<%= footer %>
