<%
# title::The Dark Tower III (The Waste Lands) %
# rating::4%
# description::4/5 stars: The Waste Lands is my favorite book of the first half of the Dark Tower series.%
# date::2016,04,12%
# pages::512%
# author::Stephen King%
# image:: /img/the_waste_lands.jpg%
%>

<h1><%= link_to("http://amzn.to/1Ygvzo7",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: April 12, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>The Waste Lands is my favorite book of the first half of the Dark Tower series. The writing is more mature than the previous installments, and King dives into the world that our characters inhabit. We get to meet some older citizens of a mostly deserted town called “River Crossing.” The reverence given to Roland by these people reminds me of how people treat the Jedi in “Star Wars”. We also travel through “Lud.” A city where the people fight a decade&#39;s long war to the beat of “Velcro Fly” by ZZ Top. The novel ends with the ka-tet on a train named Blaine, who promise to kill them all unless they can defeat him in a riddle contest.</p>

<p>I enjoyed the exploration into how someone’s mind could handle a time paradox. In the previous book, Roland admits that he is going insane. While in Jack Mort’s head in the Drawing of Three, Roland prevents Jake from being killed. Jake’s death is what causes him to show up in “The Gunslinger.” This split reality consumes Roland. Jake was in his world, and he wasn’t. The problem was worse for Jake. He is alive, and he is dead. He went to Roland’s world, and he didn’t. Everything from the moment Roland prevented Jack Mort from killing Jake ripped the two of their minds apart.</p>

<p>The first half of the novel covers how they get Jake back into their world and resolve the paradox. I didn’t understand the mechanics of this solution. Once they pulled Jake back into their world, he would still be dead and alive. The handling of the time-travel paradox was a little too hand-wavy for my inner-nerd</p>

<p>In the scene where they pull Jake into their world, Susannah distracts a Demon by having sex with it. The scene felt gratuitous and unnecessary. </p>

<p>If you are interested in reading this series, read up to this book at least. If King hasn&#39;t hooked you by now, don&#39;t give him any more of your time.</p>


<%= footer %>
