<%
# title::The Rise of Theodore Roosevelt %
# rating::5%
# description::5/5 stars:%
# date::2017,01,02%
# pages::960%
# author::Edmund Morris%
# image:: /img/the_rise_of_theodore_roosevelt.jpg%
%>

<h1><%= link_to("http://amzn.to/2iXIV7T",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: <%= book.date %></h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />


<%= footer %>
