<%
# title::The Gunslinger %
# rating::3%
# description::3/5 stars: I love this book. The story will draw you in if you can get past King&#39;s amateur writing.%
# date::2016,03,09%
# pages::280%
# author::Stephen King%
# image:: /img/the_gunslinger.jpg%
%>

<h1><%= link_to("http://amzn.to/1XlDHk5",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: March 12, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:600px; max-height:300px;" src="<%= book.image %>" alt="" />


<p>I am revisiting one of my favorite book series, &quot;The Dark Tower&quot; by Stephen King. I am pumped for the upcoming movie and the casting of Idris Elba and Matthew McConaughey as the main characters. I wanted to reread the series before it hits the big screen. The first book in the series is called &quot;The Gunslinger&quot; and is the weakest of the seven.</p>

<p><em>Fantasy And Science Fiction</em> magazine published it as a series of five short stories, beginning in October 1978 and ending in November 1981. I own all five of those magazines (in the photo above), first editions. They are my prize possessions.</p>

<p>The book follows Roland Deschain, the last of the Gunslingers, a samurai-like group of warriors, as he pursues a mysterious &quot;Man in Black&quot; across the desert.</p>

<p>I&#39;ve read a lot of Stephen King and &quot;The Gunslinger&quot; stylistically fits in with his early novels, especially &quot;The Stand.&quot; It is a great story that is bogged down with flowery descriptions, overuse of adverbs and a fantasy world that is too big for its britches. The second book in the series came out seven years after the last short story of &quot;The Gunslinger&quot; was published. In between, he published several novels, wrote a few screenplays and dozens of short stories. Stephen King evolves as a writer and the series eventually grows into itself. But as a stand-alone novel, &quot;The Gunslinger&quot; just isn&#39;t that good.</p>

<p>Still, I found myself loving every second of it. The story will draw you in if you can get past King&#39;s amateur writing. I recommend this book to all fans of Stephen King and anyone who is interested in starting what is the most fun fantasy series I&#39;ve ever read.</p>

<%= footer %>
