<%
# title::How to Get Approved for the Best Mortgage Without Sticking a Fork in Your Eye%
# rating::2%
# description::2/5 stars:The book reads like an advertisement for the author.%
# date::2016,07,15%
# pages::224%
# author::Elysia Stobbe%
# image:: /img/the_best_mortgage.jpg%
%>

<h1><%= link_to("http://amzn.to/2hL5y1r",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: <%= book.date %></h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p> I picked this book up to get a better idea of how the mortgage industry worked before I started at Roostify. The book reads like an advertisement for the author. Each chapter follows this general format:</p>

<ol>
	<li>Introduce some terms.</li>
	<li>Introduce a concept.</li>
	<li>Talk about all the ways a bad actor will try to take advantage of you or how it can go wrong.</li>
	<li>Describe how much better she is than everyone else at handling this concept.</li>
	<li>Tell a story about how awesome she was at handling something.</li>
</ol>

<p>In general, the book is useful for getting my head around just how complex the mortgage industry is. However, it is out of date as most of the book focuses on Truth-in-Lending regulations which have been superseded by TRID (TILA and RESPA Integrated Disclosure).</p>

<p>If you are a consumer looking to get a loan, I would recommend waiting for a book that covers the new regulations. If you can’t wait, this book does provide some good checklists on what you should be asking your lender and what documents you will need.</p>

<%= footer %>
