<%
# title::The Upside of Irrationality %
# rating::4%
# description::4/5 stars:%
# date::2016,08,27%
# pages::368%
# author::Dan Ariely%
# image:: /img/the_upside_of_irrationality.jpg%
%>

<h1><%= link_to("http://amzn.to/2iXMUkV",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: <%= book.date %></h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />


<%= footer %>
