<%
# title::The Drawing of Three %
# rating::3%
# description::3/5 stars: This book is far more satisfying than the previous installment%
# date::2016,04,03%
# pages::438%
# author::Stephen King%
# image:: /img/the_drawing_of_three.jpg%
%>

<h1><%= link_to("http://amzn.to/28nUGd0",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: April 03, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>The last two months have been hectic. I left my job, and we moved across the country. I took notes at the time I completed the book and am basing the review on them.</p>

<p>The Drawing of Three is the second book the in Dark Tower Series by Stephen King. This book is far more satisfying than the previous installment. It begins to explore how the book connects to Stephen King&#39;s other fictional worlds as well as our reality.</p>

<p>The book opens with, what Roland describes as &quot;lobstrosities,&quot; attacking him on the beach. The rest of the story covers how he survives the next leg of his journey towards the Tower. He makes three forays into other worlds, recruiting new members of his &quot;ka-tet.&quot;</p>

<p>Like &quot;The Gunslinger,&quot; this book suffers from two-dimensional characters. Roland is a sad cowboy on a quest for which he will sacrifice anything and everything. The members of his ka-tet are equally shallow - each embodying a different exaggerated stereotype from the 80s. The usage of these stereotypes may be intentional by King due to a couple of passages that acknowledge the absurdity of the character &quot;Detta Walker,&quot; an alter ego Odetta.</p>

<p>My favorite scene in the book is when Roland and one of the new members of his ka-tet, Eddie, get into a gun battle with some drug dealers. During the fight, Eddie is naked. This moment is referred to often throughout the rest of the series. The fact that Eddie could fight while naked impresses Roland. </p>

<p>I recommend this book only if you want to read the entire series. Like “The Gunslinger,” the novel isn’t anything special on its own. However, it introduces you to the characters that you will love later on in the series.</p>


<%= footer %>
