<%
# title::The Dark Tower VII (The Dark Tower) %
# rating::4%
# description::4/5 stars: At 845 pages long and could probably be cut down by half and not lose much in the way of plot.%
# date::2016,06,28%
# pages::845%
# author::Stephen King%
# image:: /img/the_dark_tower.jpg%
%>

<h1><%= link_to("http://amzn.to/2alSqwv",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: June 28, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>
The Dark Tower is the seventh novel in the Dark Tower series and my second favorite book of the series. It does have some flaws, the most egregious one being is its length. It is 845 pages long and could probably be cut down by half and not lose much in the way of plot.
</p>


<p>
If you are reading this, I am going to assume that you have read the book, or you don’t care about knowing the ending.
</p>

<p>
There are three pieces of this novel that make it satisfying for me. First, I love the way that Stephen King weaves himself into the story. It is a fascinating insight into the struggles King experiences in his writing. In 2002 (before Wolves of the Calla) King announced his retirement due to the injuries he sustained when hit by a car in 1999. By adding himself to the story, he directly addresses his fans and explains why he took so long to write this series.
</p>

<p>
The second piece I loved was the conclusion of the story lines around Randall Flagg, Mordred, and the Crimson King. The endings of all three characters were anti-climactic. Some readers will hate this. However, I enjoyed that a journey punctuated by huge battles ended the biggest bad guys with almost no fanfare.
</p>

<p>
Lastly, I loved the ending. Roland reaches the top of the tower only to realize that he has been there countless times before, and he is transported back in time to the Mohaine desert, to the scene that started The Gunslinger. The series ends where it began, with the line “The man in black fled across the desert, and the gunslinger followed.”
</p>



<p>
We’ve reached the end of the series. My feelings are different than the first time I read it. I’m still a fan but a second read through (as an older reader) has revealed the flaws of the series. Give the series a try if you are into fantasy epics or if you are a fan of Stephen King. I would suggest reading at least the first three books before making the decision of whether to read the entire series.
</p>


<%= footer %>
