<%
# title::Wizard and Glass %
# rating::3.5%
# description::3.5/5 stars: This book is one long flashback. It was okay.%
# date::2016,05,07%
# pages::728%
# author::Stephen King%
# image:: /img/wizard_and_glass.jpg%
%>

<h1><%= link_to("http://amzn.to/1UGCuAY",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: May 07, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>&quot;Wizard and Glass&quot; has three major sections. The first one continues where “The Waste Lands” ends, with the ka-tet riding Blaine the Mono, engaged in a riddle contest to the death. Then the group ends up in Kansas City. Although it isn&#39;t the Kansas City from their &quot;when.&quot; It is the Kansas City from another of King’s novels, “The Stand.” The next section is a very long flashback. We get to hear all of Roland’s origin story, and we find out why he is on the quest in the first place. In the final section, we are in a replica of “The Emerald City,” from the movie “The Wizard of Oz.” The group encounters Marten, also known as Randall Flagg, who reveals to them the Roland killed his mother. </p>

<p>I am not a fan of flashbacks. They are lazy exposition and rarely bring anything of meaning to the story. The flashback in “Wizard and Glass” would have been better off shorter and with more interaction with the present. Instead, we spend half of the book in Roland’s past while the group sits around a fire listening.</p>

<p>However, you do find out about Roland’s previous ka-tet. You get to see a more vulnerable side of the Roland. And you finally get the feeling that Roland will stop saying, “Now is not the time,” whenever someone is questioning why they are doing something.</p>

<p>I recommend this book to readers of the series. A pattern I see as I read these books critically is that none of them are great on their own. What makes them interesting is their role in the series. &nbsp;</p>



<%= footer %>
