<%
# title::The Dark Tower V (Wolves of the Calla) %
# rating::4%
# description::4/5 stars: A story of Gunslingers doing gunslinger things to protect the children of Calla Bryn Sturgis.%
# date::2016,06,21%
# pages::960%
# author::Stephen King%
# image:: /img/wolves_of_the_calla.jpg%
%>

<h1><%= link_to("http://amzn.to/29na93E",book.title) %></h1>

<h4>by <%= book.author %></h4>

<h3>Rating: <%= book.rating %>/5 stars</h3>

<h3>Date completed: June 21, 2016</h3>

<img class="book-cover" style="height:auto; width:auto; max-width:300px; max-height:300px;" src="<%= book.image %>" alt="" />

<p>
  “Wolves of the Calla” is my favorite book in the Dark Tower series. It is a story of Gunslingers doing gunslinger things to protect the children of a town. Several subplots help to move the overall series closer to its conclusion but for the most part, the book is a standalone western.
</p>

<p>
  The people of Calla Bryn Sturgis are all born with a twin. Once every generation, a horde of figures dressed as wolves on horseback come and take one child from each set of twins. Then, some time later those children return “roont,” or without the spark that previously made them human. They would then grow to an extraordinary size and die early. The wolves, as they are called in Calla Bryn Sturgis, are armed with advanced weaponry and kill anyone who tries to prevent them from taking the children.
</p>

<p>
  While the Gunslingers prepare to do battle with the wolves, we start to realize the extent of the trouble brewing in Susannah’s womb. An entity named Mia takes over her body for long stretches of time and forces her to eat rats, pigs, bugs and other live animals as food for her growing “chap.” The chap is the child of the demon that Susannah is raped by in “The Waste Lands.”
</p>

<p>
  Also, happening in parallel to the battle against the wolves is a discovery of the “Keystone world” where Stephen King and the rose reside. They realize that if this rose were to fall into the hands of their enemies, the Dark Tower would fall. With the appearance of Father Callahan, a character from Stephen King’s novel “Salem’s Lot,” the connection of the Dark Tower to the rest of King’s works becomes more apparent.
</p>

<p>
  If you’ve made it this far in the series, you’ll enjoy this book. I don’t think it has much value as a standalone novel as it depends on a lot of contexts provided by the world building in the other books. “Wolves of the Calla” is where this series takes off.
</p>
<%= footer %>
