<h1>Hi. I'm <%= link_to("/","Jeff") %></h1>

<ul>
  <b>I like:</b>
  <li>Hiking</li>
  <li>Running</li>
  <li>Camping</li>
  <li>Biking</li>
  <li>Weight-lifting</li>
  <li>Leather Working</li>
  <li>Stoicism</li>
  <li><a href="http://learnwithjeff.com">Learning</a></li>
  <li>Writing <a href="https://github.com/jeffreybaird">Code</a></li>
</ul>

<h2>I'm Looking For Work. <%= link_to("/img/resume.pdf", "Hire Me!") %></h2>

<p>I write two blogs.</p>

<p>If you want to read musings and stuff about mental health go <%= link_to("/blog", "here.") %></p>

<p>If you want to read about learning code, cooking and other things go <%= link_to("http://learnwithjeff.com", "here.") %></p>


<p>I love meeting new people. Please shoot me an <a href="mailto:jeff@jeffreyleebaird.com">email</a> or find me on <a href="http://twitter.com/jeffrey_baird">twitter.</a></p>

<p>Here is a picture of me:</p>
<img src="img/jeffrey.jpg">

<h2>Some Projects:</h2>
<ul>
  <li> <%= link_to("/pong", "Pong Demo") %> - <%= link_to("https://www.github.com/jeffreybaird/Pong","Pong Code") %></li>
  <li><%= link_to("/breakout", "Breakout Demo") %> - <%= link_to("https://www.github.com/jeffreybaird/breakout","Breakout Code") %></li>
  <li><%= link_to("https://www.github.com/jeffreybaird/simple_bar", "Simple Bar") %></li>
  <li><%= link_to("https://www.github.com/jeffreybaird/blog", "Code for this blog") %></li>
</ul>
<%= footer %>
