<%
# title:: What I Learned in 2015%
# description::I tried various personal experiments to see if I could improve my day-to-day life.%
# date::2016,01,24%
# author:: Jeffrey Baird%
%>

<h1>What I learned in 2015</h1>

<p>Toward the end of 2014, I joined an <%= link_to("/blog/posts/lifting_jiujitsu_and_depression","awesome gym") %>, which had a huge positive impact on my mental health. Working out regularly at <%= link_to("http://industrialstrengthgym.com/","Industrial Strength") %> in a positive atmosphere made me realize that I could still make improvements to my mental health. </p>

<p>I decided I was going to try various personal experiments to see if I could improve my day-to-day life. </p>

<p><strong>The first thing I tried was daily meditation</strong>. I started by using some recordings I found online from someone my therapist recommended. I found it to be a little too far down the hippie-bullshit scale. When that didn&#39;t really do it for me, I tried the iPhone app &quot;Mindfulness.&quot; The app was a slight improvement but still had the issue of every meditation being a little too feel-good for my taste. Then I tried the app &quot;<%= link_to("https://www.headspace.com","Headspace") %>.&quot; I found this to be an excellent mix of everyday application of meditative practices and fun. </p>

<p>After meditating daily for about a month, I started to notice a drastic change in my disposition. I am more patient, slower to anger, and much more comfortable with my own thoughts. After meditating for about 100 days, I found that it has helped me be more compassionate to myself while also recognizing where I can make meaningful improvements to my life.</p>

<p><strong>The next thing I added was some self-directed learning</strong>. I wasn&#39;t being challenged at work. So I started taking some computer science classes online through Coursera. I finished five classes in 2015. Before this year, I&#39;d never really learned how to study. Realizing that I could make it through a tough class and do well has me thinking about going back to school someday.</p>

<p><strong>Around April, I started reading about Stoic philosophy and learned about negative visualization</strong>. Negative visualization is a concept that took me some time to come around to, and it probably deserves its own blog post. The practice consists of spending some time each day considering the bad things that can happen. The purpose of this exercise is learn how to want the things we already have.</p>

<p><strong>I continued my experiment with <%= link_to("/blog/posts/giving_up_booze","removing alcohol") %> from my diet</strong>. I wrote about giving up alcohol late last year. I just reached six months and I don&#39;t see myself drinking again.</p>

<p>I’ve also started a few things I’ve started in 2016:</p>

<ul>
	<li>Cutting out caffeine</li>
	<li>Cutting out almost all refined sugar</li>
	<li>Not hitting the snooze button</li>
</ul>

<p>I’m already seeing the effects. Cutting out caffeine and sugar has gone a long way to getting me back to more manageable anxiety levels<sup><a href="#fn1" id="ref1">1</a></sup>. &nbsp;But the surprise winner, maybe for the whole year? Not hitting the snooze button. I haven’t hit it once in 2016, and my mornings have gone from slogs to highly productive. I also feel less tired throughout the day.</p>

<p>For me, depression and anxiety aren’t things that go away. Some days it takes all of my effort to do the things I just talked about. But 2015 was my best mental-health year since 2001, the year I started feeling depressed, and I am getting better every day at choosing what it means to live with depression.</p>

<p>I wanted to write this update because I know that I have friends and acquaintances who struggle with similar mental health issues. I hope that me talking about this stuff publicly will help someone feel a little more comfortable with where they are in life. :)</p>

<sup id="fn1">1. [My current medication, Brintellix, does a great job of treating my depression, but it doesn’t do as well as my old medication, Pristiq, at treating my anxiety issues.]<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>

<%= footer %>
